<div class="footer container-fluid bg-black">
    <div class="row">
        <div class="links col-xl-3 col-9 py-xl-0 py-4  col-4">
            <div class="p-4">
                <!-- logo -->
                <h1 class="fw-bold px-2 pt-lg-0 pt-2 logo" routerLink="home">
                    <span class="">Electro</span>
                    <span class="text-white">Mart</span>
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis cum error libero quo</p>
                <div class="py-1">
                    <i class="fas fa-phone-alt"></i>
                    <span class="px-2">+456 8990 233</span>
                </div>
                <div class="py-2">
                    <a href="mailto:samarelfeky69@gmail.com" class="email links fw-medium">
                        <i class="fas fa-envelope"></i>
                        <span>samarelfeky69&#64;gmail.com</span>
                    </a>
                </div>
            </div>    
        </div><!-- col-xl-3 -->
        <div class="col-xl-3 col-6 pxl-3 p-4">
            <div class="quick-links  mt-2 w-75 mx-auto">
                <h4 class="fw-bold">Quick links</h4>
                <a href="#">About us</a>
                <a href="#">Our story</a>
                <a href="#">Our vender</a>
                <a href="#">Latest News</a>
                <a href="#">Privacy Policy</a>
            </div> <!-- quick-links -->
        </div><!-- col-xl-3 -->
        <div class="col-xl-2 col-6 pxl-3 p-4">
            <div class="quick-links  mt-2 w-75 mx-auto">
                <h4 class="fw-bold">Top Category</h4>
                <a href="#">About us</a>
                <a href="#">Our story</a>
                <a href="#">Our vender</a>
                <a href="#">Latest News</a>
                <a href="#">Privacy Policy</a>
            </div> <!-- quick-links -->
        </div><!-- col-xl-3 -->
        <div class="col-xl-4 p-3">
           <div class="submit-email rounded-2 p-2 py-4 mt-4">
            <h4 class="text-black fw-bold py-2">Get the latest deals and more.</h4>
            <div class="position-relative w-100 ">
                <input type="email" class="w-100 p-1 py-2" placeholder="Enter Email address">
                <button class="p-1 py-2 rounded-1 position-absolute top-0 end-0">Submit</button>
            </div>
            <div class="py-4 footer-icon ">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-tiktok"></i>
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-twitter"></i>
            </div>
           </div>
        </div>
        <p class="w-50 m-auto py-1 text-center links">&copy;Copyright 2024 by Samar Elfeky</p>
    </div> <!-- row -->

</div> <!-- footer -->
