@import "../../styles.scss";
.footer{
    color: white;
}
.links{
    color: gray;
}
.footer-icon{
    i{
        padding: 0 3%;
        font-size: 1.4rem;
        color:$button-hover;
    }
}
.submit-email{
    background-color: white;
}
.quick-links{
    a{
        display: block;
        padding: 4% 0;
        color: gray;
    }
}