@import "../../styles.scss";
.shopping{
  background-color:$main-background;
}
.filter-side{
  background-color: white;
  box-shadow: 0px 2px 5px gray;
  max-height: 600px;
  
}
.categoryies-list{
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid $border-color;
}
.filter-price a{
  display: block;
  font-weight: 500;
  padding: 1% 1%;
  cursor: pointer;
}
// .autocomplete-container {
//     position: relative;
//     width: 300px;
//   }
  
  // input {
  //   width: 100%;
  //   padding: 10px;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  // }
  input[type="checkbox"] {
    transform: scale(1.3,1.3);
    cursor: pointer;
   }
   
  // .autocomplete-list {
  //   position: absolute;
  //   background: white;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  //   list-style: none;
  //   margin: 0;
  //   padding: 0;
  //   max-height: 400px;
  //   overflow-y: scroll;
  //   width: 100%;
  //   z-index: 1000;
  // }
  
  // .autocomplete-list li {
  //   padding: 10px;
  //   cursor: pointer;
  // }
  
  // .autocomplete-list li:hover {
  //   background-color: #f0f0f0;
  // }
  