@import "../../styles.scss";
.offers{
    background-color:$main-background;
}
.deal-day{
    width: 90%;
    background: linear-gradient(to right,#000605 ,$button-hover,#000605 );
    max-height: 300px;
}
.time-deal{
    background-color: white;
    width: 60%;
}
.random-product{
    width: 90%;
}
.title-deal{
    font-size: 3rem;
}
.deal-img{
    cursor: pointer;
 }
@media screen and (max-width:992px){
    .title-deal{
        font-size: 2rem;
    }
}