<div class="offers pt-1 container-fluid">
    <div class="deal-day m-auto my-5 row">
        <div class="col-lg-8 p-4 text-white ">
            <h3 class="title-deal fw-bold">DEAL OF THE DAY</h3>
            <h4>Do not miss it</h4>
        </div>
        <div *ngIf="randomProduct" class=" col-lg-4 p-4">
            <div class="time-deal mx-lg-auto mb-2 p-3 rounded-2">
                <h6><a href="#">{{ randomProduct?.title }}</a></h6>
                <p class="h5 fw-bold">{{ timeRemaining }}</p>
            </div>
        </div>
    </div> 
    <div class="random-product row mx-auto" *ngIf="randomProduct; else loading">
       <div class=" p-4 text-center col-lg-6">
        <img [src]="randomProduct?.imageUrl" class="deal-img w-100" alt="">
       </div>
        <div class="deal-details p-4 mt-3 col-lg-6">
            <h4 class="deal-title"><a href="#">{{randomProduct?.title}}</a></h4>
            <div class="stars-icon">
                <ng-container *ngFor="let star of [].constructor(randomProduct?.rating); let i = index">
                    <i class="fas fa-star"></i>
                </ng-container>
                <span>({{randomProduct?.countRated}})</span>
            </div> <!-- stars-icon -->
            <p class="py-1 text-success h5">Get it tomorrow</p>
            <h6 class="py-2">Free shipping: Get it by <span class="fw-bold">{{ getTomorrowDate() | date: 'fullDate'}}</span></h6>
            <h5 class="fw-bold ">{{randomProduct?.randomPrice|dayOffer|currency}}</h5>
            <span class=" p-1 text-white bg-danger">save 50%</span>
            <span class="ms-1 fw-bold">Was{{randomProduct?.randomPrice|currency}}</span>
            <button class="d-block py-2 px-4 rounded-1 my-4">Add to cart</button>
        </div> <!-- deal-details -->
    </div>
    <ng-template #loading>
        <p>Loading product...</p>
    </ng-template>
    <div class="my-3 py-3 px-5">
        <h2 class="fw-bold">Offers</h2><hr class="py-2">
        <app-slider [products]="products"></app-slider>
    </div>
</div> 